.nav-wrapper {
  height: 10vh;
  display: flex;
  justify-content: space-between;
}

.nav-left {
  flex: 1;
  align-items: center;
  display: flex;
  gap: 2rem;
}

.nav-name {
  font-size: 1.3rem;
  font-weight: bold;
}


.nav-right {
  display: flex;
  flex: 1;
}