.port-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0rem 6rem;
  justify-content: start;
  align-items: left;
}

.card-wrapper {
  display: flex;
  gap: 1.75rem;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.tilt-1 {
  display: flex;
  flex-direction: column;
  background-color: black;
  padding: .75rem;
  border-radius: 1rem;
  max-width: 13rem;
  width: 100%;
}

.tilt-image {
  position: relative;
  width: 100%;
  height: 250px;
}

.tilt-image > img {
  object-fit: cover;
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

.tilt-info {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 1rem;
  flex-direction: row;
  gap: 0.75rem;
  justify-content: flex-end;
}

.tilt-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  background-color: black;
  padding: .2rem;
}

.infos {
  display: flex;
  align-itens: center;
  justify-content: center;
}