.card-wrapper {
  display: flex;
  gap: 1.75rem;
  flex-wrap: wrap;
  Margin-top: 2rem;
}

.tilt-1 {
  background-color: black;
  padding: 1.25rem; 
border-radius: 1rem; 
width: 100%; 
}

.tilt-image {
  postion: relative;
  width: 13rem;
  height: 250px;  
}

.tilt-image > img {
  width: 100%;
  height: full;
  ob
  border-radius: 50px;
  background-color: blue;
}